.action-type-dropdown {
    width: 400px;
    height: 40px;
}
.card {
    border-radius: 0 !important;
}
.hide-block {
    display: none;
}
.text-validation-error {
    color: red;
    font-size: 16px;
}
.pagination-input {
    width: 150px;
    height: 25px;
}