.profile-image-box {
    width: 100%;
    min-width: 200px;
    max-height: 300px;
    min-height: 250px;
}
.profile-image-box img {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}
.profile-information {
    font-size: 17px;
}

.line {
    border-bottom: 2px solid #fdc007; /* Параметры линии */
}

.no-image {
    background: #eaeaea;
    position: relative;
}
.no-image:before {
    font: var(--fa-font-solid);
    right: 95px;
    top: 60px;
    font-size: 120px;
    color: white;
    content: "\f030";
    position: absolute;
    z-index: 4;
}